*{
	padding:0 ;
	margin:0;
}
html, body {
     height:100%;
 }
.fix{
	 overflow:hidden;
}
.main{
	 width:1200px;
	 margin:0 auto;
	font-family: 'Josefin Sans', sans-serif;
}


/*  header */
.header_back{
	background-image:url('../img/welcome_bg.jpg');
	background-size:cover;
	height:100%;
}
.header{}
.logo{
	min-height:100px;
	float:left;
}
.logo img {
	margin: 30px 25px 0px 20px;
}
.manu{
	min-height:100px;
	float:left;
}
.manu ul {
	list-style: none;
	margin: 25px 0px 20px 429px;
}
.manu ul li{
	float:left;
	padding:10px 15px;
}
.manu ul li a{
	font-size:20px;
	padding:5px 8px;
	text-decoration:none;
	color:#000000;
}
.manu ul li a:hover{
	color:#1C48F3;
}
.banner{
	margin-top:180px;
	margin-left:20px;
	display:inline-block;
}
.banner h1 {
	font-size: 38px;
}
.banner p {
	width: 400px;
	line-height: 1.5;
	margin-top: 15px;
	font-style: italic;
	font-weight: 400;
	color:#424242;
}
.banner a {
	text-decoration: none;
	margin-top: 30px;
	color: #000000;
	display: inline-block;
	font-size: 16px;
	font-weight:600;
}
.banner a:hover{
	color:#1C48F3;
}
.banner a i{
	margin-left:7px;
}


/* About */
.about_back{
	margin:70px 0px;
}
.about{
}
.about_left {
	float: left;
	width: 587px;
}
.about_left img{

}
.about_right {
	margin-top:120px;
	float: left;
	width: 613px;
}
.about_right h1 {
	font-size: 29px;
	margin-bottom: 19px;
}
.about_right p {
	margin:0px 50px 10px 0px;
	line-height: 1.5;
	font-size: 17px;
	color:#424242;
}
.about_right ul{
	float:left;
	margin-top:20px;
	list-style:none;
}
.about_right ul li{
	float:left;
	margin-right:20px;
}
.about_right ul li:first-child a{
	padding:10px 20px;
	display:block;
	border:2px solid #1C48F3;
	text-decoration:none;
	font-size:14px;
	color:#212121;
}
.about_right ul li:first-child a:hover{
	background-color:#1C48F3;
	color:#F5F5F5;
}
.about_right ul li:last-child a{
	padding:10px 20px;
	display:block;
	border:2px solid #000000;
	text-decoration:none;
	font-size:14px;
	color:#212121;
}
.about_right ul li:last-child a:hover{
	background-color:#000000;
	color:#F5F5F5;
}

/*  service */
.service_back{
	padding:60px 0px;
	background-color:#F6F6F6;
}
.service{
}
.single_service {
	width: 380px;
	float: left;
	text-align: center;
	margin: 75px 30px 20px 0px;
	position: relative;
}
.single_service:last-child{
	margin-right:0px;
}
.single_service:nth-child(1)::before {
	position: absolute;
	content: "\f121 ";
	font-family: fontAwesome;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 60px;
	background-color:#1C48F3;
	top: -74px;
	left: 50%;
	margin-left: -30px;
	color: #ffffff;
	font-size:24px;
}
.single_service:nth-child(1)::after, .single_service:nth-child(2)::after, .single_service:nth-child(3)::after {
	position: absolute;
	content: "";
	text-align: center;
	line-height: 20px;
	height: 20px;
	width: 20px;
	background-color:#1C48F3;
	transform: rotate(45deg);
	left: 50%;
	margin-left: -10px;
	color: #000000;
	top: -24px;
}
.single_service:nth-child(2)::before {
	position: absolute;
	content: "\f284";
	font-family: fontAwesome;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 60px;
	background-color:#1C48F3;
	top: -74px;
	left: 50%;
	margin-left: -30px;
	color: #ffffff;
	font-size:24px;
}
.single_service:nth-child(3)::before {
	position: absolute;
	content: "\f121";
	font-family: fontAwesome;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 60px;
	background-color:#1C48F3;
	top: -74px;
	left: 50%;
	margin-left: -30px;
	color: #ffffff;
	font-size:24px;
}
.single_service h3 {
	margin: 25px 0px 15px 0px;
}
.single_service p {
	line-height: 1.5;
	margin: 0px 20px;
}

/* Portfolio */
.portfolio_back{
	padding:40px 0px;
}
.portfolio{
	text-align:center;
}
.portfolio_heading{

}
.portfolio_heading h1{}
.control{
	display:inline-block;
	margin:40px 0px;
}
.control ul{
	list-style:none;
}
.control ul li {
	float: left;
	margin-right: 10px;
	border: 2px solid #1C48F3;
	padding: 7px;
	font-size: 15px;
	cursor:pointer;
}
.control ul li a{}
.portfolio_images{}
.single_image{
	width: 370px;
	float: left;
	height: 304px;
	margin: 0px 30px 30px 0px;
	position:relative;
}
.single_image::before{
	position:absolute;
	content:"";
	width:70%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#1C48F3;
    transform: skewX(10deg);
	transition:.5s;
    visibility: visible;
    opacity: 0;
	
 }
 .single_image:hover::before{
    width:20%;
    height:100%;
    top:0;
    left:50%;
    background-color:#1C48F3;
    transform:skewX(30deg);
    transition:.5s;
    visibility: hidden;
    opacity:.3;
 }			
.single_image::after{
	position:absolute;
	content:"";
    width:70%;
    height:100%;
    bottom:0;
    right:0;
	 background-color:#1C48F3;
    transform:skewX(10deg);
	transition:.5s;
    visibility:visible;
	opacity:0;
 }
.single_image:hover::after{
    width:20%;
    height:100%;
	bottom:0;
    right:50%;
    background-color:#1C48F3;
	transform:skewX(30deg);
    transition:.5s;
    visibility:hidden;
    opacity:.3;
}			
.single_image:nth-child(3), .single_image:nth-child(6){
	margin-right:0px;	
}
.single_image img{
	width:100%;
	height:100%;
}

/* testimonial */
.testimonial_back{
	padding:60px 0px;
	background-color:#F6F6F6;
}
.testimonial_main{
	width:80%;
	margin:0 auto;
}
.testimonial_heading{
	text-align:center;
	margin-bottom:40px;
}
.testimonial_heading h1{}
.testimonial{
	width:50%;
	float:left;
	margin:30px 0px;
}
.testimonial_left{
	width:40%;
	float:left;
	position:relative;
}
.testimonial_left img{
	max-height:250px;
}
.testimonial_left::before {
	position: absolute;
	content: "\f10e";
	font-family: fontAwesome;
	text-align: center;
	color: #1C48F3;
	top: 29%;
	right: 21%;
	margin-left: -30px;
	font-size: 24px;
}
.testimonial_right{
	float:left;
	width:50%;
}
.testimonial_right h3{
}
.testimonial_right h5 {
	margin:10px 0px 9px 0px;
	color:#424242;
}
.testimonial_right p {
	font-size: 15px;
	line-height: 1.5;
	color:#263238;
}

/* Contact */
.contact_back{
	padding:70px 0px;
}
.contact{
	width:600px;
	margin:0 auto;
}
.contact_heading{
	text-align:center;
	margin-bottom:30px;
}
.contact_heading h1{}
.contact input[type="text"]{
	width:600px;
	border:none;
	border-bottom:1px solid #1C48F3;
	padding-bottom:10px;
	margin-bottom:30px;
	font-family: 'Josefin Sans', sans-serif;
}
.contact input[type="text"]:focus, .contact input[type="email"]:focus, .contact textarea:focus{
	border-bottom:1px solid #000000;
}
.contact input[type="email"]{
	border:none;
	border-bottom:1px solid #1C48F3;
	width:600px;
	padding-bottom:10px;
	margin-bottom:30px;
	font-family: 'Josefin Sans', sans-serif;
}
.contact textarea{
	width:600px;
	border:none;
	border-bottom:1px solid #1C48F3;
	margin-bottom:30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size:12px;
}
.contact input[type="submit"]{
	padding:8px  20px;
	border:2px solid #1C48F3;
	font-family: 'Josefin Sans', sans-serif;
}
.contact input[type="submit"]:hover{
	background-color:#1C48F3;
	color:#ffffff;
}

/* footer */
.footer_back{
	padding:30px 0px;
	background-color:#F6F6F6;
	border-top:1px solid #E0E0E0;
}
.footer{
	text-align:center;
}
.footer i{
	height:30px;
	width:30px;
	line-height:30px;
	border-radius:50%;
	border:1px solid #777;
	color:#777;
	margin-right:4px;	
}
.footer i:hover{
	background-color:#1C48F3;
	color:#ddd;
	transition:.7s;
}
.footer p{
	color:#424242;
	margin-top:10px;
}
